.castContainer {
  padding: 30px;
  background: radial-gradient(circle, rgba(112, 112, 112, 0.5480567226890756) 0%, rgba(69, 68, 68, 1) 100%);
}

.castImage {
  background: #292828;
  opacity: 0.8;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  height: 530px;
  width: 300px;
  padding: 30px;
  margin-bottom: 20px;
}

.castName {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding-top: 15px;
}
.castCharacter {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}
