.reviewsContainer {
  padding: 30px;
  background: radial-gradient(circle, rgba(112, 112, 112, 0.5480567226890756) 0%, rgba(69, 68, 68, 1) 100%);
  margin-top: 40px;
}

.individualReview {
  background: #292828;
  opacity: 0.8;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
  height: 100%;
  width: 95%;
}

.reviewAuthor,
.noReview {
  color: white;
  font-style: normal;
  font-weight: bold;
}

.reviewCharacter {
  color: white;
  font-style: normal;

  font-size: 15px;
}
